.chess-board {
    background-image: url("chess board.png");
    background-size: contain;
    height: 500px;
    width: 500px;
}

.main-container{
    size: 100%;
    display: flex;
    margin: auto;
}